

html {
    height: 100%;
}

table {
   width:50%;
   border: 1px solid black;
}


h1 {

  text-align: center;
  font-size: 50px;
}

h2{
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}

h3{
  font-style: bold;
}

h5{
	text-align: center;
  text-decoration: underline;

}

.footer{
  display: block;
margin-left: auto;
margin-right: auto;
padding-top: 50px;
text-align:center;
}

a {
  text-decoration: none;
}

.header {
    padding-left: 100px;
}

p {
padding-left: 50px;
  text-align: left;
padding-right: 50px;

}

table, th, td {
   width:50%;
   border: 1px solid black;
}

h4{
  text-decoration: underline;
  padding-top: 25px;
  padding-left: 25px;

}

h5{
  font-weight: 700;
  text-align: center;

}
